$color_1: white;
$color_2: #767676;
$font-family_1: Helvetica;
$background-color_1: #1E90FF;
$background-color_2: #FFFFFF;
$background-color_3: #1B98FF;

@mixin screen($minwidth, $maxwidth) {
	@media only screen and (min-width: $minwidth) and (max-width: $maxwidth) {
		@content;
	}
}

body {
	font-family: $font-family_1;
}
.header {
	background-color: $background-color_1;
	height: 87px;
	width: 100%;
	display: flex;
}
.title {
	display: flex;
	align-items: center;
	padding-left: 20px;
	font-size: 31px;
	font-weight: bold;
	color: $color_1;
}
.search {
	border: solid 2px #767676;
	display: flex;
	align-items: center;
	margin: auto;
	width: 310px;
	height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $background-color_2;
	color: $color_2;
}
.searchtext {
	padding-left: 12px;
	opacity: 0.6;
}
.list {
	width: 15%;
	display: flex;
	align-items: center;
	color: $color_1;
	font-size: 16px;
}
.p1 {
	margin-right: 21px;
}
.p2 {
	margin-right: 21px;
}
.p3 {
	margin-right: 21px;
}
.main {
	background-color: $background-color_2;
}
.content {
	padding-top: 25px;
	max-width: 70%;
	height: 200%;
	margin: 0 auto;
	flex-wrap: nowrap;
	display: flex;
}
.avengers {
	display: flex;
	flex-direction: column;
	box-shadow: 1px 5px 5px grey;
	width: 712px;
	float: left;
	height: 100%;
}
.avgimg {
	margin: 1px;
}
.text {
	padding: 15px;
	padding-top: 0;
}
.lone {
	box-shadow: 1px 5px 5px grey;
	display: flex;
	flex-direction: column;
	height: 685px;
	width: 243px;
	margin-left: 10px;
}
.loneimg {
	height: 301px;
	margin: 16px;
}
.rage {
	box-shadow: 1px 5px 5px grey;
	display: flex;
	flex-direction: column;
	height: 685px;
	width: 243px;
	margin-left: 10px;
}
.rageimg {
	height: 301px;
	margin: 16px;
}
.col {
	display: flex;
	flex-wrap: wrap;
}
.button {
	float: right;
	background-color: $background-color_3;
	color: $color_1;
	padding: 10px;
	margin: 26px;
	border-radius: 5px 5px 5px 5px;
	width: 93px;
	text-align: center;
}
