$color1: #4E89AE;
$color2: #43658B;
$color3: #ED6663;
$color4: #FFA372;




@media (min-width: 1028px) {

}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    
}

@media screen and (min-width: 621px) and (max-width: 1024px) {
   
    .ball {
        flex-direction: column;
    }

    // .box {
    //     height: 300px;
    //     width: 300px;
    // }
}

@media screen and (min-width: 481px) and (max-width: 620px) {
    .ball {
        flex-direction: column;
    }

}


body {
    display: flex;
    margin: 0;
    padding: 0;
}

// .box {
//     height: 400px;
//     width: 400px;
//     background-color: #CCCCCC;
//     color: #969696;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: auto;
//     margin: auto;
//     font-size: 150%;
// }

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E2EFF1;
    gap: 50;

    padding-top: 50px;
    padding-bottom: 50px;
}

.color1 {
    background-color: $color1;
    height: 40px;
    display: flex
}

.color2 {
    @extend .color1;
    background-color: $color2;
}

.color3 {
    @extend .color1;
    background-color: $color3;
}

.color4 {
    @extend .color1;
    background-color: $color4;
}

.ball1 {
    background-color: $color4;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.ball2 {
    @extend .ball1;
    background-color: $color3;
    height: 90px;
    width: 90px;
    
}

.ball3 {
    @extend .ball1;
    background-color: $color2;
    height: 80px;
    width: 80px;
}

.ball4 {
    @extend .ball1;
    background-color: $color1;
    height: 70px;
    width: 70px;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10;
}